.header {
  background-color: #945cb4;
  height: 300px;
  display: flex;
  justify-content: center;
}

.logo {
  color: #fff;
  font-size: 48px;
}
.icon {
  font-size: 48px;
  color: #fff;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  right: calc(50% - 400px);
  z-index: 100;
}
.sticky-toolbar {
  height: 52px;
  background-color: #945cb4;
  border-radius: 0 0 4px 4px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.menuItem {
  color: #fff;
  margin-right: 10px;
  font-size: 17px;
}
@media (max-width: 850px) {
  .icon {
    right: 40px;
  }
}
