<div class="footer">
  <div>
    <h5>Game Review</h5>
  </div>
  <div>
    <div class="footer-text">Developed by:</div>
    <div class="footer-text">Deyvisson Breno</div>
    <div>
      <button (click)="goToInstagram()" class="button">
        <mat-icon>facebook</mat-icon>
      </button>
      <button (click)="goToFacebook()" class="button">
        <mat-icon>facebook</mat-icon>
      </button>
      <button (click)="goToWhatsapp()" class="button">
        <mat-icon>whatsapp</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="rights">
  <span>All Rigths Reserved © 2021</span>
</div>
