.card-rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
}
.card-info {
  color: #842bd7;
  font-weight: bold;
  margin-top: 8px;
}
.card-rating-icon {
  color: #c4c4c4;
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}
.card-rating-icon-active {
  color: #e5b819 !important;
}
