<gr-title [label]="'Make your review'"></gr-title>
<div class="game-info">
  <h3 class="name">{{ game.name }}</h3>
  <div class="content" fxLayout="row" fxLayoutAlign="space-around">
    <img class="image" src="../../../assets/img/GOW4.jpg" />
    <div class="info">
      <div><b>Platform:</b> {{ game.platform }}</div>
      <div><b>Developer:</b> {{ game.developer }}</div>
      <div><b>Summary:</b> {{ game.summary }}</div>
      <gr-rating [rating]="game.rating"></gr-rating>
    </div>
  </div>
</div>
<div class="write-review-container">
  <h3 class="write-review-title">Write a review</h3>
  <form
    [formGroup]="reviewForm"
    class="inputs-container"
    (ngSubmit)="onSubmit()"
  >
    <label>
      Review title
      <input
        type="text"
        formControlName="title"
        placeholder="Write a review title"
      />
      <div
        *ngIf="
          reviewForm.controls['title'].invalid &&
          reviewForm.controls['title'].dirty
        "
        class="validationError"
      >
        The title must have between 5 and 100 characteres
      </div>
    </label>
    <label>
      Write your review to this game
      <textarea
        rows="10"
        formControlName="description"
        placeholder="Review the game"
      ></textarea>
      <div
        *ngIf="
          reviewForm.controls['description'].invalid &&
          reviewForm.controls['description'].dirty
        "
        class="validationError"
      >
        The description must have between 10 and 200 characteres
      </div>
    </label>
    <label>
      <gr-rating-selector (rated)="rate($event)"></gr-rating-selector>
      <div
        *ngIf="
          reviewForm.controls['rating'].invalid &&
          reviewForm.controls['rating'].touched
        "
        class="validationError"
      >
        Rating is required
      </div>
    </label>

    <button class="button" type="submit">Send</button>
  </form>
</div>
