.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: #945cb4;
  width: 100%;
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
form {
  flex: 0.8;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  width: 100%;
  display: block;
  margin-top: 20px;
  font-size: 17px;
}
input,
textarea {
  width: 100%;
  flex: 1;
  border-radius: 5px;
  background-color: #ebebeb;
  padding: 6px 15px;
  outline: none;
  border: 1px solid black;
  display: block;
  margin: 5px 5px 5px -5px;
}

textarea::placeholder,
input::placeholder {
  color: #b8b8b8;
}
.validationError {
  padding: 5px;
  color: #ff0000;
}
button {
  padding: 10px 30px;
  margin: 20px;
  border: none;
  cursor: pointer;
  display: block;
  color: #fff;
  background-color: #842bd7;
  border-radius: 4px;
}
button:hover {
  background-color: #5c1e96;
}
